@model IEnumerable<Capstoneproject.Models.NightLife>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<html>
<head>
    <title>Place Searches</title>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
    <meta charset="utf-8">
    <style>
        /* Always set the map height explicitly to define the size of the div
        * element that contains the map. */
        #map {
            height: 600px;
        }
        /* Optional: Makes the sample page fill the window. */
        html, body {
            height: 400px;
            margin: 0;
            padding: 0;
        }
    </style>
    <script>
        // This example requires the Places library. Include the libraries=places
        // parameter when you first load the API. For example:
        // <script src="https://maps.googleapis.com/maps/api/js?key=YOUR_API_KEY&libraries=places">

        var map;
        var infowindow;

        function initMap() {

            var kruz = {
                info: '<strong>1. Kruz</strong><br>\
                                                                Hours:<br> Mon 3pm-2:30am<br>Tue 3pm-2:30am<br>Wed 3pm-2:30am<br>Thu 3pm-2:30am<br>\
                                                                Fri 3pm-2:30am<br>Sat 3pm-2:30am<br>Sun 3pm-2:30am<br>\
                                                                <a href="https://goo.gl/maps/HFCu7CyqJaw">Get Directions</a><br>\
                                                                <a href="https://www.facebook.com/kruz.kruzbar/?rf=113409075359803">Website</a>',
                lat: 43.023377,
                long: -87.906613
            };

            var sabbatic = {
                info: '<strong>2. Sabbatic</strong><br>\
                                                                Hours:<br> Mon 5pm-2am<br>Tue 5pm-2am<br>Wed 5pm-2am<br>Thu 5pm-2am<br>\
                                                                Fri 5pm-2am<br>Sat 2pm-2am<br>Sun 2pm-2am<br>\
                                                                <a href="https://goo.gl/maps/heG1ueiopgq">Get Directions</a><br>\
                                                                <a href="https://www.facebook.com/kruz.kruzbar/?rf=113409075359803">Website</a>',
                lat: 43.024108,
                long: -87.912487
            };

            var shakerscigarbar = {
                info: '<strong>3. Shakers Cigar Bar</strong><br>\r\
                                                                Hours:<br> Mon 5pm-2am<br>Tue 5pm-2am<br>Wed 5pm-2am<br>Thu 5pm-2am<br>\
                                                                Fri 5pm-2am<br>Sat 5pm-2am<br>Sun 3-10pm<br>\
                                                                <a href="https://goo.gl/maps/Rjjt7HsWKrj">Get Directions</a><br>\
                                                                <a href="http://www.shakerscigarbar.com/">Website</a>',
                lat: 43.026741,
                long: -87.912295
            };

            var olydiasbarandgrill = {
                info: '<strong>4. O Lydias Bar and Grill</strong><br>\r\
                                                                Hours:<br> Mon 11am-2am<br>Tue 11am-2am<br>Wed 11am-2am<br>Thu 11am-2am<br>\
                                                                Fri 11am-2:30am<br>Sat 10am-2:30am<br>Sun 10am-2:30am<br>\
                                                                <a href="https://goo.gl/maps/J9KrFFyZ3sK2">Get Directions</a><br>\
                                                                <a href="https://olydias.com/">Website</a>',
                lat: 43.027437,
                long: -87.910901
            };

            var blacksheepmke = {
                info: '<strong>5. Black Sheep MKE</strong><br>\r\
                                                                Hours:<br> Mon 4pm-12am<br>Tue 4pm-12am<br>Wed 4pm-12am<br>Thu 4pm-12am<br>\
                                                                Fri 4pm-12am<br>Sat 11am-1am<br>Sun 11am-4pm<br>\
                                                                <a href="https://goo.gl/maps/ky1fSirgGik">Get Directions</a><br>\
                                                                <a href="https://www.blacksheepmke.com/">Website</a>',
                lat: 43.028949,
                long: -87.912312
            };

            var stackdburgerbar = {
                info: '<strong>6. Stackd Burger Bar</strong><br>\r\
                                                                Hours:<br> Mon 11am-10pm<br>Tue 11am-10pm<br>Wed 11am-10pm<br>Thu 11am-10pm<br>\
                                                                Fri 11am-11pm<br>Sat 11am-11pm<br>Sun 11am-10pm<br>\
                                                                <a href="https://goo.gl/maps/M64vDYeCEKt">Get Directions</a><br>\
                                                                <a href="https://www.stackdburgerbar.com/">Website</a>',
                lat: 43.028949,
                long: -87.912312
            };

            var vinothirdwardwinebarstore = {
                info: '<strong>7. Vino Third Ward - Wine Bar & Store</strong><br>\r\
                                                                Hours:<br> Mon 3pm-2am<br>Tue 3pm-2am<br>Wed 3pm-2am<br>Thu 3pm-2am<br>\
                                                                Fri 12pm-2:30am<br>Sat 12pm-2:30am<br>Sun 2-9pm<br>\
                                                                <a href="https://goo.gl/maps/hmVPZPwLX8K2">Get Directions</a><br>\
                                                                <a href="https://vinothirdward.com/">Website</a>',
                lat: 43.031505,
                long: -87.909189
            };

            var milwaukeealehouse = {
                info: '<strong>8. Milwaukee Ale House</strong><br>\r\
                                                                Hours:<br> Mon 11am-9pm<br>Tue 11am-9pm<br>Wed 11am-9pm<br>Thu 11am-10pm<br>\
                                                                Fri 11am-12am<br>Sat 11am-12am<br>Sun 11am-9pm<br>\
                                                                <a href="https://goo.gl/maps/zrwcZMcGRdF2">Get Directions</a><br>\
                                                                <a href="http://ale-house.com/">Website</a>',
                lat: 43.033472,
                long: -87.909467
            };

            var bugsysbackalleyspeakeasy = {
                info: '<strong>9. Bugsys Back Alley Speakeasy</strong><br>\r\
                                                                Hours:<br> Mon - Closed<br>Tue - Closed<br>Wed - Closed<br>Thu 5pm-2am<br>\
                                                                Fri 5pm-2am<br>Sat 7pm-2:15am<br>Sun - Closed<br>\
                                                                <a href="https://goo.gl/maps/cDNFYwwSLYB2">Get Directions</a><br>\
                                                                <a href="https://bugsys-back-alley-speakeasy.business.site/">Website</a>',
                lat: 43.032896,
                long: -87.908835
            };

            var clubcharlies = {
                info: '<strong>10. Club Charlies</strong><br>\r\
                                                                Hours:<br> Mon 11am-2am<br>Tue 11am-2am<br>Wed 11am-2am<br>Thu 11am-2am<br>\
                                                                Fri 11am-2am<br>Sat 11am-2am<br>Sun 10am-2am<br>\
                                                                <a href="https://goo.gl/maps/dUSQnQVAUQB2">Get Directions</a><br>\
                                                                <a href="https://www.clubcharlies.com/">Website</a>',
                lat: 43.031642,
                long: -87.906252
            };

            var splashstudio = {
                info: '<strong>11. Splash Studio</strong><br>\r\
                                                                Hours:<br> Mon - Closed<br>Tue - Closed<br>Wed 2-10pm<br>Thu 2-10pm<br>\
                                                                Fri 2-10:30pm<br>Sat 10:30am-11pm<br>Sun 12-4pm<br>\
                                                                <a href="https://goo.gl/maps/7QkhZXrFWqk">Get Directions</a><br>\
                                                                <a href="http://www.splashmilwaukee.com/">Website</a>',
                lat: 43.045466,
                long: -87.923418
            };

            var theoutsider = {
                info: '<strong>12. The Outsider</strong><br>\r\
                                                                Hours:<br> Mon 2pm-2am<br>Tue 2pm-2am<br>Wed 2pm-2am<br>Thu 2pm-2am<br>\
                                                                Fri 2pm-2am<br>Sat 12pm-2am<br>Sun 12pm-12am<br>\
                                                                <a href="https://goo.gl/maps/mVDDDPtjUZE2">Get Directions</a><br>\
                                                                <a href="http://www.outsiderrooftop.com/?utm_source=googlebusiness&utm_medium=organic&utm_campaign=gbreferral">Website</a>',
                lat: 43.032887,
                long: -87.906847
            };

            var campbarthirdward = {
                info: '<strong>13. Camp Bar Third Ward</strong><br>\r\
                                                                Hours:<br> Mon 3pm-2am<br>Tue 3pm-2am<br>Wed 3pm-2am<br>Thu 3pm-2am<br>\
                                                                Fri 2pm-2:30am<br>Sat 12pm-2:30am<br>Sun 12pm-2am<br>\
                                                                <a href="https://goo.gl/maps/i1oaZuqyxBL2">Get Directions</a><br>\
                                                                <a href="https://www.campbarmke.com/">Website</a>',
                lat: 43.031480,
                long: -87.903542
            };

            var riverfrontpizzeriabarandgrill = {
                info: '<strong>14. Riverfront Pizzeria Bar & Grill</strong><br>\r\
                                                                Hours:<br> Mon - Closed<br>Tue 11am-10pm<br>Wed 11am-10pm<br>Thu 11am-10pm<br>\
                                                                Fri 11am-11pm<br>Sat 11am-11pm<br>Sun 9am-4pm<br>\
                                                                <a href="https://goo.gl/maps/xLzKg4JLSVM2">Get Directions</a><br>\
                                                                <a href="http://rfpmke.com/">Website</a>',
                lat: 43.028354,
                long: -87.903983
            };

            var cafebenelux = {
                info: '<strong>15. Café Benelux</strong><br>\r\
                                                                Hours:<br> Mon 7am-12am<br>Tue 7am-12pm<br>Wed 7am-12pm<br>Thu 7am-12pm<br>\
                                                                Fri 7am-12pm<br>Sat 8an-12am<br>Sun 8am-11pm<br>\
                                                                <a href="https://goo.gl/maps/T85EAcSUdiQ2">Get Directions</a><br>\
                                                                <a href="https://cafebenelux.com/">Website</a>',
                lat: 43.034922,
                long: -87.907179
            };

            var thewickedhop = {
                info: '<strong>16. The Wicked Hop</strong><br>\r\
                                                                Hours:<br> Mon 10am-2am<br>Tue 11am-2am<br>Wed 11am-2am<br>Thu 11am-2am<br>\
                                                                Fri 11am-2am<br>Sat 9am-2am<br>Sun 9am-2am<br>\
                                                                <a href="https://goo.gl/maps/PTeP5Ss6qWC2">Get Directions</a><br>\
                                                                <a href="http://www.thewickedhop.com/">Website</a>',
                lat: 43.034811,
                long: -87.907687
            };

            var thiefwineshop = {
                info: '<strong>17. Thief Wine Shop & Bar</strong><br>\r\
                                                                Hours:<br> Mon 10am-8pm<br>Tue 10am-8pm<br>Wed 10am-8pm<br>Thu 10am-9pm<br>\
                                                                Fri 10am-9pm<br>Sat 8am-9pm<br>Sun 10am-6pm<br>\
                                                                <a href="https://goo.gl/maps/aLT4ryJW7ao">Get Directions</a><br>\
                                                                <a href="http://www.thiefwine.com/">Website</a>',
                lat: 43.035227,
                long: -87.908063
            };

            var swingindoorexchange = {
                info: '<strong>18. Swingin Door Exchange</strong><br>\r\
                                                                Hours:<br> Mon 11am-2am<br>Tue 11am-2am<br>Wed 11am-2am<br>Thu 11am-2am<br>\
                                                                Fri 11am-2am<br>Sat 10am-2am<br>Sun 10am-2am<br>\
                                                                <a href="https://goo.gl/maps/6hELLwsqfiv">Get Directions</a><br>\
                                                                <a href="http://www.swingindoorexchange.com/">Website</a>',
                lat: 43.037315,
                long: -87.908211
            };

            var blu = {
                info: '<strong>19. Blu</strong><br>\r\
                                                                Hours:<br> Mon 5pm-1am<br>Tue 5pm-1am<br>Wed 5pm-1am<br>Thu 5pm-1am<br>\
                                                                Fri 4pm-2am<br>Sat 4pm-2am<br>Sun - Closed<br>\
                                                                <a href="https://goo.gl/maps/gNhi5QEUYE72">Get Directions</a><br>\
                                                                <a href="https://www.blumilwaukee.com/">Website</a>',
                lat: 43.039360,
                long: -87.905682
            };

            var bryantscocktaillounge = {
                info: '<strong>20. Bryants Cocktail Lounge</strong><br>\r\
                                                                Hours:<br> Mon - Closed<br>Tue 5pm-2am<br>Wed 5pm-2am<br>Thu 5pm-2am<br>\
                                                                Fri 5pm-2am<br>Sat 5pm-2am<br>Sun 5pm-2am<br>\
                                                                <a href="https://goo.gl/maps/8gBrLFmkArC2">Get Directions</a><br>\
                                                                <a href="https://www.bryantscocktaillounge.com/">Website</a>',
                lat: 43.014331,
                long: -87.922879
            };

            var viploungemke = {
                info: '<strong>21. VIP Lounge MKE</strong><br>\r\
                                                                Hours:<br> Mon 9:30pm-2am<br>Tue - Closed<br>Wed - Closed<br>Thu 9:30pm-2am<br>\
                                                                Fri 9pm-2:30am<br>Sat 9pm-2:30am<br>Sun 10pm-2am<br>\
                                                                <a href="https://goo.gl/maps/fZJsJZ4eotR2">Get Directions</a><br>\
                                                                <a href="https://vip-lounge-mke.business.site/">Website</a>',
                lat: 43.022612,
                long: -87.910993
            };

            var brownstonesociallounge = {
                info: '<strong>22. BrownStone Social Lounge</strong><br>\r\
                                                                Hours:<br> Mon - Closed<br>Tue 4pm-1am<br>Wed 4pm-1am<br>Thu 4pm-1am<br>\
                                                                Fri 4pm-2am<br>Sat 4pm-2am<br>Sun - Closed<br>\
                                                                <a href="https://goo.gl/maps/1SDq2kRDck72">Get Directions</a><br>\
                                                                <a href="https://www.brownstonesociallounge.com/">Website</a>',
                lat: 43.036839,
                long: -87.908514
            };

            var stircocktaillounge = {
                info: '<strong>23. Stir Cocktail Lounge</strong><br>\r\
                                                                Hours:<br> Mon - Closed<br>Tue 4pm-2am<br>Wed 4pm-2am<br>Thu 4pm-2am<br>\
                                                                Fri 4pm-2am<br>Sat 7pm-2am<br>Sun - Closed<br>\
                                                                <a href="https://goo.gl/maps/jy1EW4Xq4xD2">Get Directions</a>',
                lat: 43.048577,
                long: -87.890925
            };

            var lucidlightlounge = {
                info: '<strong>22. LUCID Light Lounge</strong><br>\r\
                                                                Hours:<br> Mon - Closed<br>Tue - Closed<br>Wed - Closed<br>Thu 9pm-2am<br>\
                                                                Fri 9pm-2:30am<br>Sat 9pm-2:30am<br>Sun - Closed<br>\
                                                                <a href="https://goo.gl/maps/61szkQQvoeL2">Get Directions</a><br>\
                                                                <a href="https://www.lucidmke.com/">Website</a>',
                lat: 43.039502,
                long: -87.906912
            };

            var plumlounge = {
                info: '<strong>22. Plum Lounge</strong><br>\r\
                                                                Hours:<br> Mon - Closed<br>Tue 4pm-1am<br>Wed 4pm-1am<br>Thu 4pm-1am<br>\
                                                                Fri 4pm-2am<br>Sat 4pm-2am<br>Sun - Closed<br>\
                                                                <a href="https://goo.gl/maps/vFwNGXscFwp">Get Directions</a><br>\
                                                                <a href="http://plumlounge.com/">Website</a>',
                lat: 43.040836,
                long: -87.905130
            };

            var clear = {
                info: '<strong>22. CLEAR</strong><br>\r\
                                                                Hours:<br> Mon 11:30am-12am<br>Tue 11:30am-12am<br>Wed 11:30am-12am<br>Thu 11:30am-12am<br>\
                                                                Fri 11:30am-2am<br>Sat 11:30am-2am<br>Sun 11:30am-12am<br>\
                                                                <a href="https://goo.gl/maps/HH1qtdboNCE2">Get Directions</a><br>\
                                                                <a href="https://www.intercontinentalmilwaukee.com/milwaukee-dining/clear.asp">Website</a>',
                lat: 43.041870,
                long: -87.910755
            };

            var s42lounge = {
                info: '<strong>22. 42 Lounge</strong><br>\r\
                                                                Hours:<br> Mon 11am-12am<br>Tue 11am-12am<br>Wed 11am-12am<br>Thu 11am-12am<br>\
                                                                Fri 11am-2am<br>Sat 11am-2am<br>Sun 11am-12am<br>\
                                                                <a href="https://goo.gl/maps/c38P3JQGEFB2">Get Directions</a><br>\
                                                                <a href="https://www.brownstonesociallounge.com/">Website</a>',
                lat: 43.048363,
                long: -87.904424
            };

            var millertimepubandgrill = {
                info: '<strong>22. Miller Time Pub & Grill</strong><br>\r\
                                                                Hours:<br> Mon 11am-2am<br>Tue 11am-2am<br>Wed 11am-2am<br>Thu 11am-2am<br>\
                                                                Fri 11am-2am<br>Sat 11am-2am<br>Sun 11am-2am<br>\
                                                                <a href="https://goo.gl/maps/iJGgQhFHNEr">Get Directions</a><br>\
                                                                <a href="https://milwaukee.millertimepubandgrill.com/">Website</a>',
                lat: 43.038594,
                long: -87.917912
            };

            var newsroompub = {
                info: '<strong>22. Newsroom Pub</strong><br>\r\
                                                                Hours:<br> Mon 11am-12am<br>Tue 11am-12am<br>Wed 11am-1am<br>Thu 11am-1am<br>\
                                                                Fri 11am-2am<br>Sat 11am-2am<br>Sun 11am-12am<br>\
                                                                <a href="https://goo.gl/maps/x1Aemrzoaks">Get Directions</a><br>\
                                                                <a href="https://www.safe-house.com/">Website</a>',
                lat: 43.040719,
                long: -87.910407
            };

            var flannerysbarandrestaurant = {
                info: '<strong>22. Flannerys Bar & Restaurant</strong><br>\r\
                                                                Hours:<br> Mon 11am-2am<br>Tue 11am-2am<br>Wed 11am-2am<br>Thu 11am-2am<br>\
                                                                Fri 11am-2:30am<br>Sat 11am-2:30am<br>Sun 11am-2am<br>\
                                                                <a href="https://goo.gl/maps/E49gviu9JdC2">Get Directions</a><br>\
                                                                <a href="https://www.facebook.com/flannerysmke">Website</a>',
                lat: 43.041133,
                long: -87.905866
            };

            var whosonthird = {
                info: '<strong>22. Whos on Third</strong><br>\r\
                                                                Hours:<br> Mon 11am-2am<br>Tue 11am-2am<br>Wed 11am-2am<br>Thu 11am-2am<br>\
                                                                Fri 11am-2:30am<br>Sat 10am-2:30am<br>Sun 10am-2am<br>\
                                                                <a href="https://goo.gl/maps/CLKq3sWFUzN2">Get Directions</a><br>\
                                                                <a href="http://whosonthirdmke.com/">Website</a>',
                lat: 43.043181,
                long: -87.914644
            };

            var thepubclub = {
                info: '<strong>22. The Pub Club</strong><br>\r\
                                                                Hours:<br> Mon - Closed<br>Tue 9pm-2am<br>Wed 4pm-2am<br>Thu 4pm-2am<br>\
                                                                Fri 4pm-2:30am<br>Sat 1pm-2:30am<br>Sun 1pm-2am<br>\
                                                                <a href="https://goo.gl/maps/zBET1eZvQEv">Get Directions</a><br>\
                                                                <a href="http://mke.thepubclubmilwaukee.com/">Website</a>',
                lat: 43.044477,
                long: -87.914797
            };

            var harpirishpub = {
                info: '<strong>22. Harp Irish Pub</strong><br>\r\
                                                                Hours:<br> Mon 11am-2am<br>Tue 11am-2am<br>Wed 11am-2am<br>Thu 11am-2am<br>\
                                                                Fri 11am-2am<br>Sat 11am-2am<br>Sun 11am-2am<br>\
                                                                <a href="https://goo.gl/maps/KcDacreVPs82">Get Directions</a><br>\
                                                                <a href="https://www.theharpirishpub.com/">Website</a>',
                lat: 43.045529,
                long: -87.912635
            };

            var trinitythreeirishpubs = {
                info: '<strong>22. Trinity Three Irish Pubs</strong><br>\r\
                                                                Hours:<br> Mon 4pm-2am<br>Tue 4pm-2am<br>Wed 4pm-2am<br>Thu 4pm-2am<br>\
                                                                Fri 4pm-2am<br>Sat 10am-2am<br>Sun 10am-2am<br>\
                                                                <a href="https://goo.gl/maps/SwuusJfg9CA2">Get Directions</a><br>\
                                                                <a href="https://trinitythreeirishpubs.com/">Website</a>',
                lat: 43.045260,
                long: -87.912055
            };

            var pointseastpub = {
                info: '<strong>22. Points East Pub</strong><br>\r\
                                                                Hours:<br> Mon 4-11pm<br>Tue 4-11pm<br>Wed 4-11pm<br>Thu 4-11pm<br>\
                                                                Fri 4-11pm<br>Sat 12-11pm<br>Sun 11:30am-9pm<br>\
                                                                <a href="https://goo.gl/maps/MiDxPzEodGS2">Get Directions</a><br>\
                                                                <a href="http://www.thepointseastpub.com/">Website</a>',
                lat: 43.049492,
                long: -87.904964
            };

            var uglys = {
                info: '<strong>22. Uglys</strong><br>\r\
                                                                Hours:<br> Mon - Closed<br>Tue - Closed<br>Wed 4-10pm<br>Thu 4pm-1:30am<br>\
                                                                Fri 4pm-2am<br>Sat 11am-2am<br>Sun 4pm-1:30am<br>\
                                                                <a href="https://goo.gl/maps/X2rzRx8Gaxj">Get Directions</a><br>\
                                                                <a href="http://www.thepointseastpub.com/">Website</a>',
                lat: 43.049492,
                long: -87.904964
            };


            var locations = [
                [kruz.info, kruz.lat, kruz.long, 0],
                [sabbatic.info, sabbatic.lat, sabbatic.long, 1],
                [shakerscigarbar.info, shakerscigarbar.lat, shakerscigarbar.long, 2],
                [olydiasbarandgrill.info, olydiasbarandgrill.lat, olydiasbarandgrill.long, 3],
                [blacksheepmke.info, blacksheepmke.lat, blacksheepmke.long, 4],
                [stackdburgerbar.info, stackdburgerbar.lat, stackdburgerbar.long, 5],
                [vinothirdwardwinebarstore.info, vinothirdwardwinebarstore.lat, vinothirdwardwinebarstore.long, 6],
                [milwaukeealehouse.info, milwaukeealehouse.lat, milwaukeealehouse.long, 7],
                [bugsysbackalleyspeakeasy.info, bugsysbackalleyspeakeasy.lat, bugsysbackalleyspeakeasy.long, 8],
                [clubcharlies.info, clubcharlies.lat, clubcharlies.long, 9],
                [splashstudio.info, splashstudio.lat, splashstudio.long, 10],
                [theoutsider.info, theoutsider.lat, theoutsider.long, 11],
                [campbarthirdward.info, campbarthirdward.lat, campbarthirdward.long, 12],
                [riverfrontpizzeriabarandgrill.info, riverfrontpizzeriabarandgrill.lat, riverfrontpizzeriabarandgrill.long, 13],
                [cafebenelux.info, cafebenelux.lat, cafebenelux.long, 14],
                [thewickedhop.info, thewickedhop.lat, thewickedhop.long, 15],
                [thiefwineshop.info, thiefwineshop.lat, thiefwineshop.long, 16],
                [swingindoorexchange.info, swingindoorexchange.lat, swingindoorexchange.long, 17],
                [blu.info, blu.lat, blu.long, 18],
                [bryantscocktaillounge.info, bryantscocktaillounge.lat, bryantscocktaillounge.long, 19],
                [viploungemke.info, viploungemke.lat, viploungemke.long, 20],
                [brownstonesociallounge.info, brownstonesociallounge.lat, brownstonesociallounge.long, 21],
                [stircocktaillounge.info, stircocktaillounge.lat, stircocktaillounge.long, 22],
                [lucidlightlounge.info, lucidlightlounge.lat, lucidlightlounge.long, 23],
                [plumlounge.info, plumlounge.lat, plumlounge.long, 24],
                [clear.info, clear.lat, clear.long, 25],
                [s42lounge.info, s42lounge.lat, s42lounge.long, 26],
                [millertimepubandgrill.info, millertimepubandgrill.lat, millertimepubandgrill.long, 27],
                [flannerysbarandrestaurant.info, flannerysbarandrestaurant.lat, flannerysbarandrestaurant.long, 28],
                [whosonthird.info, whosonthird.lat, whosonthird.long, 29],
                [thepubclub.info, thepubclub.lat, thepubclub.long, 30],
                [harpirishpub.info, harpirishpub.lat, harpirishpub.long, 31],
                [trinitythreeirishpubs.info, trinitythreeirishpubs.lat, trinitythreeirishpubs.long, 32],
                [pointseastpub.info, pointseastpub.lat, pointseastpub.long, 33],
                [uglys.info, uglys.lat, uglys.long, 34],


            ];

            var map = new google.maps.Map(document.getElementById('map'), {
                zoom: 13,
                center: new google.maps.LatLng(43.038902, -87.906474),
                mapTypeId: google.maps.MapTypeId.ROADMAP
            });

            var infowindow = new google.maps.InfoWindow({});

            var marker, i;

            for (i = 0; i < locations.length; i++) {
                marker = new google.maps.Marker({
                    position: new google.maps.LatLng(locations[i][1], locations[i][2]),
                    map: map
                });

                google.maps.event.addListener(marker, 'click', (function (marker, i) {
                    return function () {
                        infowindow.setContent(locations[i][0]);
                        infowindow.open(map, marker);
                    }
                })(marker, i));
            }
        }
    </script>
</head>
<body>
    <div id="map"></div>
    <script src="https://maps.googleapis.com/maps/api/js?key=@ViewBag.clienkey&callback=initMap" async defer></script>
</body>
</html>


<h2>Bars</h2>

@if (ViewContext.HttpContext.User.IsInRole("Admin"))
{
    <p>
        @Html.ActionLink("Create Bars", "Create")
    </p>
}

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.No)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.No)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            <a href="/Reserveviptables/Create" id="registerLink">Reserve VIP Table</a>
        </td>

        @if (ViewContext.HttpContext.User.IsInRole("Admin"))
        {
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.Id })
            </td>
        }
    </tr>
    }

</table>
