@model IEnumerable<Capstoneproject.Models.EventList>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Website)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Website)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.Id })
            </td>
        </tr>
    }
</table>


<html>
<head>
    <title>Place Searches</title>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
    <meta charset="utf-8">
    <style>
        /* Always set the map height explicitly to define the size of the div
        * element that contains the map. */
        #map {
            height: 400px;
        }
        /* Optional: Makes the sample page fill the window. */
        html, body {
            height: 400px;
            margin: 0;
            padding: 0;
        }
    </style>
    <script>
        // This example requires the Places library. Include the libraries=places
        // parameter when you first load the API. For example:
        // <script src="https://maps.googleapis.com/maps/api/js?key=YOUR_API_KEY&libraries=places">

        var map;
        var infowindow;

        function initMap() {

            var movida = {
                info: '<strong>1. Movida</strong><br>\
                        Hours:<br> Mon 4-10pm<br>Tue 4-10pm<br>Wed 4-10pm<br>Thu 4-10pm<br>\
                        Fri 4-11pm<br>Sat 4-11pm<br>Sun 4-10pm<br>\
                        <a href="https://goo.gl/maps/dtbrzyFchft">Get Directions</a>',
                lat: 43.025671,
                long: -87.912376
            };

            var camino = {
                info: '<strong>2. Camino</strong><br>\
                        Hours:<br> Mon 11am–1am<br>Tue 11am–1am<br>Wed 11am–1am<br>Thu 11am–1am<br>\
                        Fri 11am–2pm<br>Sat 11am–2am<br>Sun 11am–1am<br>\
                        <a href="https://goo.gl/maps/WXrc1eVdVKT2">Get Directions</a>',
                lat: 43.026502,
                long: -87.912333
            };

            var screamingtuna = {
                info: '<strong>3. Screaming Tuna</strong><br>\r\
                        Hours:<br> Mon 11am-2:30pm, 4:30-10pm<br>Tue 11am-2:30pm, 4:30-10pm<br>Wed 11am-2:30pm, 4:30-10pm<br>Thu 11am-2:30pm, 4:30-10pm<br>\
                        Fri 11am-2:30pm, 4:30-10pm<br>Sat 10:30am-11pm<br>Sun 10:30am-11pm<br>\
                        <a href="https://goo.gl/maps/fYPM5RMNX6z">Get Directions</a>',
                lat: 43.030938,
                long: -87.911278
            };

            var merrimentsocial = {
                info: '<strong>4. Merriment Social</strong><br>\r\
                        Hours:<br> Mon - Closed<br>Tue 4-10pm<br>Wed 4-10pm<br>Thu 4-10pm<br>\
                        Fri 4-10pm<br>Sat 10am-2pm, 5-11pm<br>Sun 10am-2pm, 4-9pm<br>\
                        <a href="https://goo.gl/maps/rgHs1Dy9kLN2">Get Directions</a>',
                lat: 43.029587,
                long: -87.908845
            };

            var milwaukeesailloft = {
                info: '<strong>5. Milwaukee Sail Loft</strong><br>\r\
                        Hours:<br> Mon 11am-10pm<br>Tue 11am-10pm<br>Wed 11am-10pm<br>Thu 11am-10pm<br>\
                        Fri 11am-11pm<br>Sat 11am-11pm<br>Sun 11am-9pm<br>\
                        <a href="https://goo.gl/maps/c5jZtHETdDD2">Get Directions</a>',
                lat: 43.026144,
                long: -87.902045
            };

            var riverfrontpizzeriabarandgrill = {
                info: '<strong>6. Riverfront Pizzeria Bar & Grill</strong><br>\r\
                        Hours:<br> Mon - Closed<br>Tue 11am-10pm<br>Wed 11am-10pm<br>Thu 11am-10pm<br>\
                        Fri 11am-11pm<br>Sat 11am-11pm<br>Sun 11am-9pm<br>\
                        <a href="https://goo.gl/maps/xD9anBeTBKD2">Get Directions</a>',
                lat: 43.028354,
                long: -87.903983
            };

            var dandan = {
                info: '<strong>7. DanDan</strong><br>\r\
                        Hours:<br> Mon 11am-2pm, 5-10pm<br>Tue 11am-2pm, 5-10pm<br>Wed 11am-2pm, 5-10pm<br>Thu 11am-2pm, 5-10pm<br>\
                        Fri 11am-2pm, 5-10pm<br>Sat 5-10pm<br>Sun - Closed<br>\
                        <a href="https://goo.gl/maps/3T3j8R4Kn9C2">Get Directions</a>',
                lat: 43.030034,
                long: -87.905334
            };

            var bavettelaboucherie = {
                info: '<strong>8. Bavette la Boucherie</strong><br>\r\
                        Hours:<br> Mon 11am-5pm<br>Tue 11am-5pm<br>Wed 11am-9pm<br>Thu 11am-9pm<br>\
                        Fri 11am-5pm<br>Sat 11am-9pm<br>Sun - Closed<br>\
                        <a href="https://goo.gl/maps/52sUY6YW3Mw">Get Directions</a>',
                lat: 43.031662,
                long: -87.906093
            };

            var kanpaiizakaya = {
                info: '<strong>9. Kanpai Izakaya</strong><br>\r\
                        Hours:<br> Mon 11am-2:30pm, 4:30-10pm<br>Tue 11am-2:30pm, 4:30-10pm<br>Wed 11am-2:30pm, 4:30-10pm<br>Thu 11am-2:30pm, 4:30-10pm<br>\
                        Fri 11am-2:30pm, 4:30-11pm<br>Sat 4-11pm<br>Sun 4-9pm<br>\
                        <a href="https://goo.gl/maps/TDvgQDZQhd82">Get Directions</a>',
                lat: 43.032893,
                long: -87.905276
            };

            var milwaukeepublicmuseum = {
                info: '<strong>Milwaukee Public Museum</strong><br>\r\
                        Hours:<br> Mon 10am-5pm<br>Tue 10am-5pm<br>Wed 10am-5pm<br>Thu 10am-5pm<br>\
                        Fri 10am-5pm<br>Sat 9am-5pm<br>Sun 11am-5pm<br>\
                        <a href="https://goo.gl/maps/NeHZFXCp1jG2">Get Directions</a>',
                lat: 43.040658,
                long: -87.920843
            };

            var bestplaceatthehistoricpabstbrewery = {
                info: '<strong>Best Place at the Historic Pabst brewery</strong><br>\r\
                        Hours:<br> Mon 11:30am-6pm<br>Tue - Closed<br>Wed 11:30am-6pm<br>Thu 11:30am-6pm<br>\
                        Fri 10:30am-6pm<br>Sat 10:30am-6pm<br>Sun 11:30am-6pm<br>\
                        <a href="https://goo.gl/maps/LqbJRvAZowx">Get Directions</a>',
                lat: 43.045466,
                long: -87.923418
            };

            var pabstmansion = {
                info: '<strong>The Pabst Mansion</strong><br>\r\
                        Hours:<br> Mon 10am-4pm<br>Tue 10am-4pm<br>Wed 10am-4pm<br>Thu 10am-4pm<br>\
                        Fri 10am-4pm<br>Sat 10am-4pm<br>Sun 12-4pm<br>\
                        <a href="https://goo.gl/maps/8VaTG585eWx">Get Directions</a>',
                lat: 43.039252,
                long: -87.937982
            };

            var lakefrontbrewery = {
                info: '<strong>Lake Front Brewery</strong><br>\r\
                        Hours:<br> Mon 11am-9pm<br>Tue 11am-9pm<br>Wed 11am-9pm<br>Thu 11am-9pm<br>\
                        Fri 11am-9pm<br>Sat 9am-9pm<br>Sun 10am-5pm<br>\
                        <a href="https://goo.gl/maps/2EEHpqtcs8B2">Get Directions</a>',
                lat: 43.054726,
                long: -87.905287
            };

            var mitchellparkhorticulturalconservatory = {
                info: '<strong>Mitchell Park Horticultural Conservatory</strong><br>\r\
                        Hours:<br> Mon 9am-5pm<br>Tue 9am-5pm<br>Wed 9am-5pm<br>Thu 9am-5pm<br>\
                        Fri 9am-5pm<br>Sat 9am-4pm<br>Sun 9am-4pm<br>\
                        <a href="https://goo.gl/maps/oPvtuUQFod92">Get Directions</a>',
                lat: 43.026437,
                long: -87.945948
            };

            var milwaukeecountyzoo = {
                info: '<strong>Milwaukee County Zoo</strong><br>\r\
                        Hours:<br> Mon 9am-5pm<br>Tue 9am-5pm<br>Wed 9am-5pm<br>Thu 9am-5pm<br>\
                        Fri 9am-5pm<br>Sat 9am-5pm<br>Sun 9am-5pm<br>\
                        <a href="https://goo.gl/maps/phqrF2VLWnR2">Get Directions</a>',
                lat: 43.031288,
                long: -88.040955
            };

            var northpointlighthouse = {
                info: '<strong>North Point Lighthouse</strong><br>\r\
                        Hours:<br> Mon - Closed<br>Tue - Closed<br>Wed - Closed<br>Thu 10am-2pm<br>\
                        Fri 10am-2pm<br>Sat 1-4pm<br>Sun 1-4pm<br>\
                        <a href="https://goo.gl/maps/aas15Tk43sw">Get Directions</a>',
                lat: 43.065702,
                long: -87.871412
            };

            var locations = [
                [movida.info, movida.lat, movida.long, 0],
                [greatlakes.info, greatlakes.lat, greatlakes.long, 1],
                [savemilwaukee.info, savemilwaukee.lat, savemilwaukee.long, 2],
                [milwaukeepublicmarket.info, milwaukeepublicmarket.lat, milwaukeepublicmarket.long, 3],
                [discoveryworld.info, discoveryworld.lat, discoveryworld.long, 4],
                [milwaukeeartmuseum.info, milwaukeeartmuseum.lat, milwaukeeartmuseum.long, 5],
                [bettybrinnchildrensmuseum.info, bettybrinnchildrensmuseum.lat, bettybrinnchildrensmuseum.long, 6],
                [visitmilwaukee.info, visitmilwaukee.lat, visitmilwaukee.long, 7],
                [veteranspark.info, veteranspark.lat, veteranspark.long, 8],
                [milwaukeepublicmuseum.info, milwaukeepublicmuseum.lat, milwaukeepublicmuseum.long, 9],
                [bestplaceatthehistoricpabstbrewery.info, bestplaceatthehistoricpabstbrewery.lat, bestplaceatthehistoricpabstbrewery.long, 10],
                [pabstmansion.info, pabstmansion.lat, pabstmansion.long, 11],
                [lakefrontbrewery.info, lakefrontbrewery.lat, lakefrontbrewery.long, 12],
                [mitchellparkhorticulturalconservatory.info, mitchellparkhorticulturalconservatory.lat, mitchellparkhorticulturalconservatory.long, 13],
                [milwaukeecountyzoo.info, milwaukeecountyzoo.lat, milwaukeecountyzoo.long, 14],
                [northpointlighthouse.info, northpointlighthouse.lat, northpointlighthouse.long, 15],


            ];

            var map = new google.maps.Map(document.getElementById('map'), {
                zoom: 13,
                center: new google.maps.LatLng(43.038902, -87.906474),
                mapTypeId: google.maps.MapTypeId.ROADMAP
            });

            var infowindow = new google.maps.InfoWindow({});

            var marker, i;

            for (i = 0; i < locations.length; i++) {
                marker = new google.maps.Marker({
                    position: new google.maps.LatLng(locations[i][1], locations[i][2]),
                    map: map
                });

                google.maps.event.addListener(marker, 'click', (function (marker, i) {
                    return function () {
                        infowindow.setContent(locations[i][0]);
                        infowindow.open(map, marker);
                    }
                })(marker, i));
            }
        }
    </script>
</head>
<body>
    <div id="map"></div>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDVbmWBtkTpM1rgQ-KS-cK-f-uAS-wwMho&libraries=places&callback=initMap" async defer></script>
</body>
</html>





