@model IEnumerable<Capstoneproject.Models.EventList>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Hours)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Cost)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Website)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Address)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Hours)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Cost)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Website)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Address)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.Id })
            </td>
        </tr>
    }
</table>


<html>
<head>
    <title>Place Searches</title>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
    <meta charset="utf-8">
    <style>
         /* Always set the map height explicitly to define the size of the div
        * element that contains the map. */
         #map {
             height: 400px;
         }
         /* Optional: Makes the sample page fill the window. */
         html, body {
             height: 400px;
             margin: 0;
             padding: 0;
         }
    </style>
    <script>
        // This example requires the Places library. Include the libraries=places
        // parameter when you first load the API. For example:
        // <script src="https://maps.googleapis.com/maps/api/js?key=YOUR_API_KEY&libraries=places">

        var map;
        var infowindow;

        function initMap() {

            var harley = {
                info: '<strong>Harley Davidson Museum</strong><br>\
                    Hours:<br> Mon 9am–6pm<br>Tue 9am–6pm<br>Wed 9am–6pmM<br>Thu 9am–8pm<br>\
                    Fri 9am–6pm<br>Sat 9am–6pm<br>Sun 9am–6pm<br>\
					<a href="https://goo.gl/maps/1YF3i2VKQ3Q2">Get Directions</a>',
                lat: 43.031665,
                long: -87.916519
            };

            var greatlakes = {
                info: '<strong>Great Lakes Distillery</strong><br>\
                    Hours:<br> Mon 11am–10pm<br>Tue 11am–10pm<br>Wed 11am–10pm<br>Thu 11am–10pm<br>\
                    Fri 11am–12pm<br>Sat 11am–12am<br>Sun 11am–8pm<br>\
					<a href="https://goo.gl/maps/qo6d6ekQNME2">Get Directions</a>',
                lat: 43.026596,
                long: -87.918606
            };

            var savemilwaukee = {
                info: '<strong>Save Milwaukee</strong><br>\r\
                    Hours:<br> Mon 12–10pm<br>Tue 12–10pm<br>Wed 12–10pm<br>Thu 12–10pm<br>\
                    Fri 12–10pm<br>Sat 12–10pm<br>Sun 12–10pm<br>\
					<a href="https://goo.gl/maps/gaZyZKK5gaJ2">Get Directions</a>',
                lat: 43.033447,
                long: -87.908591
            };

            var milwaukeepublicmarket = {
                info: '<strong>Milwaukee Public Market</strong><br>\r\
                    Hours:<br> Mon 10am-8pm<br>Tue 10am-8pm<br>Wed 10am-8pm<br>Thu 10am-8pm<br>\
                    Fri 10am-8pm<br>Sat 8am-8pm<br>Sun 9am-6pm<br>\
                    <a href="https://goo.gl/maps/J9KrFFyZ3sK2">Get Directions</a>',
                lat: 43.035220,
                long: -87.908078
            };

            var discoveryworld = {
                info: '<strong>Discovery World</strong><br>\r\
                    Hours:<br> Mon 9am-4pm<br>Tue 9am-4pm<br>Wed 9am-4pm<br>Thu 9am-4pmbr>\
                    Fri 9am-4pm<br>Sat 10am-5pm<br>Sun 10am-5pm<br>\
					<a href="https://goo.gl/maps/zrwcZMcGRdF2">Get Directions</a>',
                lat: 43.036783,
                long: -87.896090
            };

            var discoveryworld = {
                info: '<strong>Discovery World</strong><br>\r\
                    Hours:<br> Mon 9am-4pm<br>Tue 9am-4pm<br>Wed 9am-4pm<br>Thu 9am-4pmbr>\
                    Fri 9am-4pm<br>Sat 10am-5pm<br>Sun 10am-5pm<br>\
					<a href="https://goo.gl/maps/gaZyZKK5gaJ2">Get Directions</a>',
                lat: 43.033447,
                long: -87.908591
            };

            var discoveryworld = {
                info: '<strong>Discovery World</strong><br>\r\
                    Hours:<br> Mon 9am-4pm<br>Tue 9am-4pm<br>Wed 9am-4pm<br>Thu 9am-4pmbr>\
                    Fri 9am-4pm<br>Sat 10am-5pm<br>Sun 10am-5pm<br>\
					<a href="https://goo.gl/maps/gaZyZKK5gaJ2">Get Directions</a>',
                lat: 43.033447,
                long: -87.908591
            };

            var discoveryworld = {
                info: '<strong>Discovery World</strong><br>\r\
                    Hours:<br> Mon 9am-4pm<br>Tue 9am-4pm<br>Wed 9am-4pm<br>Thu 9am-4pmbr>\
                    Fri 9am-4pm<br>Sat 10am-5pm<br>Sun 10am-5pm<br>\
					<a href="https://goo.gl/maps/gaZyZKK5gaJ2">Get Directions</a>',
                lat: 43.033447,
                long: -87.908591
            };

            var discoveryworld = {
                info: '<strong>Discovery World</strong><br>\r\
                    Hours:<br> Mon 9am-4pm<br>Tue 9am-4pm<br>Wed 9am-4pm<br>Thu 9am-4pmbr>\
                    Fri 9am-4pm<br>Sat 10am-5pm<br>Sun 10am-5pm<br>\
					<a href="https://goo.gl/maps/gaZyZKK5gaJ2">Get Directions</a>',
                lat: 43.033447,
                long: -87.908591
            };

            var discoveryworld = {
                info: '<strong>Discovery World</strong><br>\r\
                    Hours:<br> Mon 9am-4pm<br>Tue 9am-4pm<br>Wed 9am-4pm<br>Thu 9am-4pmbr>\
                    Fri 9am-4pm<br>Sat 10am-5pm<br>Sun 10am-5pm<br>\
					<a href="https://goo.gl/maps/gaZyZKK5gaJ2">Get Directions</a>',
                lat: 43.033447,
                long: -87.908591
            };

            var discoveryworld = {
                info: '<strong>Discovery World</strong><br>\r\
                    Hours:<br> Mon 9am-4pm<br>Tue 9am-4pm<br>Wed 9am-4pm<br>Thu 9am-4pmbr>\
                    Fri 9am-4pm<br>Sat 10am-5pm<br>Sun 10am-5pm<br>\
					<a href="https://goo.gl/maps/gaZyZKK5gaJ2">Get Directions</a>',
                lat: 43.033447,
                long: -87.908591
            };

            var discoveryworld = {
                info: '<strong>Discovery World</strong><br>\r\
                    Hours:<br> Mon 9am-4pm<br>Tue 9am-4pm<br>Wed 9am-4pm<br>Thu 9am-4pmbr>\
                    Fri 9am-4pm<br>Sat 10am-5pm<br>Sun 10am-5pm<br>\
					<a href="https://goo.gl/maps/gaZyZKK5gaJ2">Get Directions</a>',
                lat: 43.033447,
                long: -87.908591
            };

            var discoveryworld = {
                info: '<strong>Discovery World</strong><br>\r\
                    Hours:<br> Mon 9am-4pm<br>Tue 9am-4pm<br>Wed 9am-4pm<br>Thu 9am-4pmbr>\
                    Fri 9am-4pm<br>Sat 10am-5pm<br>Sun 10am-5pm<br>\
					<a href="https://goo.gl/maps/gaZyZKK5gaJ2">Get Directions</a>',
                lat: 43.033447,
                long: -87.908591
            };

            var discoveryworld = {
                info: '<strong>Discovery World</strong><br>\r\
                    Hours:<br> Mon 9am-4pm<br>Tue 9am-4pm<br>Wed 9am-4pm<br>Thu 9am-4pmbr>\
                    Fri 9am-4pm<br>Sat 10am-5pm<br>Sun 10am-5pm<br>\
					<a href="https://goo.gl/maps/gaZyZKK5gaJ2">Get Directions</a>',
                lat: 43.033447,
                long: -87.908591
            };

            var discoveryworld = {
                info: '<strong>Discovery World</strong><br>\r\
                    Hours:<br> Mon 9am-4pm<br>Tue 9am-4pm<br>Wed 9am-4pm<br>Thu 9am-4pmbr>\
                    Fri 9am-4pm<br>Sat 10am-5pm<br>Sun 10am-5pm<br>\
					<a href="https://goo.gl/maps/gaZyZKK5gaJ2">Get Directions</a>',
                lat: 43.033447,
                long: -87.908591
            };

            var discoveryworld = {
                info: '<strong>Discovery World</strong><br>\r\
                    Hours:<br> Mon 9am-4pm<br>Tue 9am-4pm<br>Wed 9am-4pm<br>Thu 9am-4pmbr>\
                    Fri 9am-4pm<br>Sat 10am-5pm<br>Sun 10am-5pm<br>\
					<a href="https://goo.gl/maps/gaZyZKK5gaJ2">Get Directions</a>',
                lat: 43.033447,
                long: -87.908591
            };

            var discoveryworld = {
                info: '<strong>Discovery World</strong><br>\r\
                    Hours:<br> Mon 9am-4pm<br>Tue 9am-4pm<br>Wed 9am-4pm<br>Thu 9am-4pmbr>\
                    Fri 9am-4pm<br>Sat 10am-5pm<br>Sun 10am-5pm<br>\
					<a href="https://goo.gl/maps/gaZyZKK5gaJ2">Get Directions</a>',
                lat: 43.033447,
                long: -87.908591
            };

            var discoveryworld = {
                info: '<strong>Discovery World</strong><br>\r\
                    Hours:<br> Mon 9am-4pm<br>Tue 9am-4pm<br>Wed 9am-4pm<br>Thu 9am-4pmbr>\
                    Fri 9am-4pm<br>Sat 10am-5pm<br>Sun 10am-5pm<br>\
					<a href="https://goo.gl/maps/gaZyZKK5gaJ2">Get Directions</a>',
                lat: 43.033447,
                long: -87.908591
            };

 

            var locations = [
                [harley.info, harley.lat, harley.long, 0],
                [greatlakes.info, greatlakes.lat, greatlakes.long, 1],
                [savemilwaukee.info, savemilwaukee.lat, savemilwaukee.long, 2],
                [milwaukeepublicmarket.info, milwaukeepublicmarket.lat, milwaukeepublicmarket.long, 2],
                [discoveryworld.info, discoveryworld.lat, discoveryworld.long, 2],
                [savemilwaukee.info, savemilwaukee.lat, savemilwaukee.long, 2],
                [savemilwaukee.info, savemilwaukee.lat, savemilwaukee.long, 2],
                [savemilwaukee.info, savemilwaukee.lat, savemilwaukee.long, 2],
                [savemilwaukee.info, savemilwaukee.lat, savemilwaukee.long, 2],
                [savemilwaukee.info, savemilwaukee.lat, savemilwaukee.long, 2],
                [savemilwaukee.info, savemilwaukee.lat, savemilwaukee.long, 2],

            ];

            var map = new google.maps.Map(document.getElementById('map'), {
                zoom: 13,
                center: new google.maps.LatLng(43.038902, -87.906474),
                mapTypeId: google.maps.MapTypeId.ROADMAP
            });

            var infowindow = new google.maps.InfoWindow({});

            var marker, i;

            for (i = 0; i < locations.length; i++) {
                marker = new google.maps.Marker({
                    position: new google.maps.LatLng(locations[i][1], locations[i][2]),
                    map: map
                });

                google.maps.event.addListener(marker, 'click', (function (marker, i) {
                    return function () {
                        infowindow.setContent(locations[i][0]);
                        infowindow.open(map, marker);
                    }
                })(marker, i));
            }
        }
    </script>
</head>
<body>
    <div id="map"></div>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDVbmWBtkTpM1rgQ-KS-cK-f-uAS-wwMho&libraries=places&callback=initMap" async defer></script>
</body>
</html>





